<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyết đê</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Trang chủ</a>
        <a href="/ask">Hỏi</a>
        <a href="/question">Đáp</a>
    </nav>
    {{{body}}}
</body>
</html>